Repository scinapse-labs/monty: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-lint-rs, lint-py, test

.pre-commit-config.yaml:

fail_fast: true

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-lint-rs
        name: Format & Lint Rust
        entry: make format-lint-rs
        types: [rust]
        language: system
        pass_filenames: false
      - id: lint-py
        name: Lint Python
        entry: make lint-py
        types: [python]
        language: system
        pass_filenames: false
      - id: test
        name: Test
        entry: make test
        types: [rust]
        language: system
        pass_filenames: false

Add more operators (#40)
  src/evaluate.rs
  src/exceptions.rs
  src/heap.rs
  src/run.rs
  src/value.rs
  src/values/py_trait.rs
  test_cases/arith__div_zero_float.py
  test_cases/arith__div_zero_int.py
  test_cases/arith__floordiv_zero_float.py
  test_cases/arith__floordiv_zero_int.py
  test_cases/arith__pow_zero_neg.py
  test_cases/bytes__ops.py
  test_cases/int__ops.py
  test_cases/list__ops.py
  test_cases/str__ops.py
  test_cases/tuple__ops.py
Due: format-lint-rs, lint-py, test

Move files in preparation for snapshotting. (#42)
  CLAUDE.md
  src/args.rs
  src/builtins.rs
  src/callable.rs
  src/evaluate.rs
  src/exceptions.rs
  src/executor.rs
  src/fstring.rs
  src/function.rs
  src/heap.rs
  src/lib.rs
  src/namespace.rs
  src/object.rs
  src/run_frame.rs
  src/types/bytes.rs
  src/types/dict.rs
  src/types/list.rs
  src/types/mod.rs
  src/types/py_trait.rs
  src/types/str.rs
  src/types/tuple.rs
  src/value.rs
Due: format-lint-rs, test

Hash improvements (#52)
  crates/monty/src/builtins.rs
  crates/monty/src/exceptions.rs
  crates/monty/src/heap.rs
  crates/monty/src/types/dict.rs
  crates/monty/src/types/type.rs
  crates/monty/src/value.rs
  crates/monty/test_cases/hash__ops.py
  crates/monty/tests/exception_hash.rs
  crates/monty/tests/inputs.rs
Due: format-lint-rs, lint-py, test

Dataclasses (#6)
  Cargo.lock
  crates/monty-python/src/convert.rs
  crates/monty/Cargo.toml
  crates/monty/src/evaluate.rs
  crates/monty/src/exception_private.rs
  crates/monty/src/exception_public.rs
  crates/monty/src/expressions.rs
  crates/monty/src/for_iterator.rs
  crates/monty/src/heap.rs
  crates/monty/src/object.rs
  crates/monty/src/parse.rs
  crates/monty/src/prepare.rs
  crates/monty/src/run_frame.rs
  crates/monty/src/types/dataclass.rs
  crates/monty/src/types/dict.rs
  crates/monty/src/types/mod.rs
  crates/monty/src/types/type.rs
  crates/monty/src/value.rs
  crates/monty/test_cases/attr__get_int_error.py
  crates/monty/test_cases/attr__get_list_error.py
  crates/monty/test_cases/attr__set_int_error.py
  crates/monty/test_cases/attr__set_list_error.py
  crates/monty/test_cases/dataclass__basic.py
  crates/monty/test_cases/dataclass__frozen_set_error.py
  crates/monty/test_cases/dataclass__get_missing_attr_error.py
  crates/monty/tests/datatest_runner.rs
  pyproject.toml
Due: format-lint-rs, lint-py, test

Add large results checks to resource limits (#39)
  crates/monty-python/src/limits.rs
  crates/monty-python/tests/test_limits.py
  crates/monty/src/builtins/pow.rs
  crates/monty/src/resource.rs
  crates/monty/src/types/long_int.rs
  crates/monty/src/value.rs
  crates/monty/test_cases/int__bigint.py
  crates/monty/tests/resource_limits.rs
Due: format-lint-rs, lint-py, test

Improve efficiency of static strings and building the interner (#50)
  crates/monty/src/bytecode/vm/call.rs
  crates/monty/src/bytecode/vm/exceptions.rs
  crates/monty/src/intern.rs
  crates/monty/src/types/bytes.rs
  crates/monty/src/types/dict.rs
  crates/monty/src/types/list.rs
  crates/monty/src/types/set.rs
  crates/monty/src/types/str.rs
  crates/monty/src/types/tuple.rs
  crates/monty/src/value.rs
Due: format-lint-rs, test

better use of `StringRepr` in exceptions (#58)
  .claude/settings.json
  CLAUDE.md
  Makefile
  crates/monty/src/builtins/print.rs
  crates/monty/src/types/type.rs
  crates/monty/test_cases/builtin__print_invalid_kwarg.py
  crates/monty/test_cases/function__err_unexpected_kwarg_quote.py
  crates/monty/test_cases/type__float_repr_both_quotes.py
  crates/monty/test_cases/type__float_repr_newline.py
  crates/monty/test_cases/type__float_repr_single_quote.py
  pyproject.toml
Due: format-lint-rs, lint-py, test

Star unpacking (#107)
  .claude/settings.json
  crates/monty/src/bytecode/compiler.rs
  crates/monty/src/bytecode/op.rs
  crates/monty/src/bytecode/vm/async_exec.rs
  crates/monty/src/bytecode/vm/call.rs
  crates/monty/src/bytecode/vm/collections.rs
  crates/monty/src/bytecode/vm/mod.rs
  crates/monty/src/types/list.rs
  crates/monty/test_cases/async__gather_all.py
  crates/monty/test_cases/function__kwargs_unpacking.py
  crates/monty/test_cases/method__args_kwargs_unpacking.py
Due: format-lint-rs, lint-py, test

Upgrade GitHub Actions for Node 24 compatibility (#129)
  .github/workflows/ci.yml
Due: none

Convert `src/types` files to `HeapGuard` (#143)
  crates/monty/src/args.rs
  crates/monty/src/builtins/reversed.rs
  crates/monty/src/builtins/sorted.rs
  crates/monty/src/bytecode/vm/mod.rs
  crates/monty/src/heap.rs
  crates/monty/src/signature.rs
  crates/monty/src/types/bytes.rs
  crates/monty/src/types/dict.rs
  crates/monty/src/types/iter.rs
  crates/monty/src/types/list.rs
  crates/monty/src/types/set.rs
  crates/monty/src/types/str.rs
  crates/monty/src/types/tuple.rs
Due: format-lint-rs, test

Add printer callback for javascript binding (#146)
  crates/monty-js/__test__/print.spec.ts
  crates/monty-js/src/exceptions.rs
  crates/monty-js/src/monty_cls.rs
  crates/monty-js/wrapper.ts
Due: format-lint-rs, test

4x safety multiplier in `check_pow_size` (#158)
  .claude/settings.json
  crates/monty/src/resource.rs
  crates/monty/tests/resource_limits.rs
Due: format-lint-rs, test

Fix bootstrap workflow: install deps and create npm dirs (#165)
  .github/workflows/init-npm-packages.yml
Due: none

fix async stack overflow (#174)
  crates/monty-python/tests/test_async.py
  crates/monty/src/bytecode/vm/async_exec.rs
  crates/monty/src/repl.rs
  crates/monty/src/run.rs
  crates/monty/test_cases/async__nested_gather_ext.py
  crates/monty/tests/asyncio.rs
Due: format-lint-rs, lint-py, test

preserve REPL session on runtime errors in start/resume (#187)
  crates/monty/src/exception_public.rs
  crates/monty/src/lib.rs
  crates/monty/src/repl.rs
  crates/monty/tests/repl.rs
Due: format-lint-rs, test

Make `Heap::inc_ref` only require immutable heap borrow (#193)
  CLAUDE.md
  crates/monty-python/src/monty_cls.rs
  crates/monty/src/bytecode/vm/async_exec.rs
  crates/monty/src/bytecode/vm/call.rs
  crates/monty/src/bytecode/vm/collections.rs
  crates/monty/src/bytecode/vm/compare.rs
  crates/monty/src/bytecode/vm/mod.rs
  crates/monty/src/heap.rs
  crates/monty/src/types/dict.rs
  crates/monty/src/types/iter.rs
  crates/monty/src/types/module.rs
  crates/monty/src/types/set.rs
  crates/monty/src/value.rs
Due: format-lint-rs, test

Implement `getattr` builtin function (#65)
  crates/monty/src/builtins/getattr.rs
  crates/monty/src/builtins/mod.rs
  crates/monty/src/bytecode/vm/attr.rs
  crates/monty/src/exception_private.rs
  crates/monty/src/heap.rs
  crates/monty/src/types/dataclass.rs
  crates/monty/src/types/module.rs
  crates/monty/src/types/namedtuple.rs
  crates/monty/src/types/path.rs
  crates/monty/src/types/py_trait.rs
  crates/monty/src/types/slice.rs
  crates/monty/src/value.rs
  crates/monty/test_cases/builtin__getattr.py
Due: format-lint-rs, lint-py, test

Unify recursion and data depth guards (#198)
  crates/monty/src/builtins/hash.rs
  crates/monty/src/builtins/min_max.rs
  crates/monty/src/builtins/print.rs
  crates/monty/src/builtins/repr.rs
  crates/monty/src/bytecode/vm/async_exec.rs
  crates/monty/src/bytecode/vm/call.rs
  crates/monty/src/bytecode/vm/compare.rs
  crates/monty/src/bytecode/vm/format.rs
  crates/monty/src/bytecode/vm/mod.rs
  crates/monty/src/bytecode/vm/scheduler.rs
  crates/monty/src/exception_private.rs
  crates/monty/src/fstring.rs
  crates/monty/src/heap.rs
  crates/monty/src/namespace.rs
  crates/monty/src/object.rs
  crates/monty/src/resource.rs
  crates/monty/src/sorting.rs
  crates/monty/src/types/bytes.rs
  crates/monty/src/types/dataclass.rs
  crates/monty/src/types/dict.rs
  crates/monty/src/types/list.rs
  crates/monty/src/types/namedtuple.rs
  crates/monty/src/types/path.rs
  crates/monty/src/types/py_trait.rs
  crates/monty/src/types/range.rs
  crates/monty/src/types/set.rs
  crates/monty/src/types/slice.rs
  crates/monty/src/types/str.rs
  crates/monty/src/types/tuple.rs
  crates/monty/src/value.rs
  crates/monty/test_cases/async__recursion_depth_isolation.py
  crates/monty/test_cases/recursion__deep_drop.py
  crates/monty/test_cases/recursion__deep_eq.py
  crates/monty/test_cases/recursion__deep_hash.py
Due: format-lint-rs, lint-py, test

fix full-build needing pyo3 config (#204)
  .github/workflows/ci.yml
Due: none
